#redirects https
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.thedetailingguys.in/$1 [R=301,L] 
RewriteCond %{http_host} ^thedetailingguys.in [NC]
RewriteRule ^(.*)$ https://www.thedetailingguys.in/$1 [R=301,L]

#user friendly urls
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

ErrorDocument 404 /404.html

#URL Redirections
Redirect 301 /ppf-coating-in-pune /car-exterior-services-in-pune/ppf-coating-in-pune
Redirect 301 /vinyl-wraps-services-in-pune /car-exterior-services-in-pune/vinyl-wraps-services-in-pune
Redirect 301 /ceramic_coating_in_pune /car-exterior-services-in-pune/ceramic_coating_in_pune
Redirect 301 /poylmer-coating-in-pune /car-exterior-services-in-pune/poylmer-coating-in-pune
Redirect 301 /internal-panel-rust-protection /car-exterior-services-in-pune/internal-panel-rust-protection
